body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button_1 {
  height: 38px;
  background: #e8491d;
  border: none;
  color: wheat;
  padding: 0 20px;
}

/*header implementation starts here*/
header {
  background-color: #35424a;
  min-width: 70px;
  border-bottom: 3px #e8491d solid;
}
.current a {
  color: #e8491d;
}
ul {
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
header a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
header #branding h1 {
  margin: 0;
  padding: 10px 0;
  color: white;
}
.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header-wrapper #branding {
  justify-self: start;
}
.header-wrapper #branding span {
  color: #e8491d;
}
.header-wrapper #navbar {
  justify-self: end;
  margin-top: 25px;
}
/*Header implementation ends here*/

/*showcase*/
#showcase {
  min-height: 400px;
  background-image: url("../img/showcase.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
#showcase h1 {
  font-size: 55px;
}
#showcase p {
  font-size: 25px;
}
/*Showcase styling ends here*/

/*newsletter styling ends here*/
.newsletter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
}
.newsletter-wrapper form {
  justify-self: end;
  margin-top: 25px;
}
#newsletter {
  background-color: #35424a;
  color: white;
  min-width: 60px;
}
#newsletter input[type="email"] {
  height: 25px;
  width: 250px;
  padding: 4px;
}
/*end of newsletter section*/

/*Services wrapper starts here*/
.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 1.6em;
  padding: 25px 0;
  text-align: center;
}
.box img {
  width: 90px;
}
/*services styling ends here here*/
/*footer styling starts here*/
footer {
  color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  background-color: #e8491d;
}
/*footer styling ends here*/

/*CSS for the about page*/
.about-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
.about-wrapper aside {
  align-self: start;
  justify-self: end;
  background-color: #35424a;
  color: white;
  padding: 10px;
  margin-top: 25px;
}
.about-wrapper #highlight {
  background-color: #35424a;
  color: white;
  padding: 10px;
}
