body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.button_1 {
  height: 38px;
  background: #e8491d;
  border: none;
  color: wheat;
  padding: 0 1.25rem;
}

/*header implementation starts here*/
header {
  background-color: #35424a;
  min-width: 4.37rem;
  border-bottom: 0.18rem #e8491d solid;
}
.current a {
  color: #e8491d;
}
ul {
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
  padding: 0 1.3rem 0 1.3rem;
}
header a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
header #branding h1 {
  margin: 0;
  padding: 0.625rem 0;
  color: white;
}
.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header-wrapper #branding {
  justify-self: start;
}
.header-wrapper #branding span {
  color: #e8491d;
}
.header-wrapper #navbar {
  justify-self: end;
  margin-top: 1.5rem;
}
/*Header implementation ends here*/

/*showcase*/
#showcase {
  min-height: 25rem;
  background-image: url("../img/showcase.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
#showcase h1 {
  font-size: 3.43rem;
}
#showcase p {
  font-size: 1.3rem;
}
/*Showcase styling ends here*/

/*newsletter styling ends here*/
.newsletter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.625rem 0;
}
.newsletter-wrapper form {
  justify-self: end;
  margin-top: 1.3rem;
}
#newsletter {
  background-color: #35424a;
  color: white;
  min-width: 3.75;
  margin-bottom: 1rem;
}
#newsletter input[type="email"] {
  height: 1.8rem;
  width: 15.625rem;
  padding: 0.25rem;
}
/*end of newsletter section*/

/*Services wrapper starts here*/
.services-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 1.6em;
  padding: 1.8rem 0;
  text-align: center;
}
.box img {
  width: 5.625rem;
}
/*services styling ends here here*/
/*footer styling starts here*/
footer {
  color: #f4f4f4;
  font-weight: bold;
  text-align: center;
  background-color: #e8491d;
  margin-top: 0.625rem;
}
/*footer styling ends here*/

/*CSS for the about page*/
.about-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1.3rem;
}
.about-wrapper aside {
  align-self: start;
  justify-self: end;
  background-color: #35424a;
  color: white;
  padding: 0.625rem;
  margin-top: 1.8rem;
}
.about-wrapper #highlight {
  background-color: #35424a;
  color: white;
  padding: 0.625rem;
}
/*css for services page*/

.services-details-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0.625rem;
}
.service-boxes {
  margin: 0.625rem 0;
  padding: 0.625rem;
  border: 1px #bbb solid;
  box-sizing: border-box;
  background-color: #ddd;
}
#letter {
  align-self: start;
  justify-self: end;
  background-color: #35424a;
  color: white;
  padding: 0.625rem;
  margin-top: 1.8rem;
  margin-bottom: 1.3rem;
}
/*styling for services page ends here*/

/*making all the components responsive*/
@media (max-width: 750px) {
  .header-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  .header-wrapper #branding {
    justify-self: center;
  }
  .services-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 1.6em;
    padding: 1.8rem 0;
    text-align: center;
  }
  .newsletter-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.625rem 0;
  }
  .newsletter-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  #side-bar {
    margin-top: 0;
  }
  .services-details-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  #letter {
    justify-self: center;
    background-color: #35424a;
    color: white;
    margin-top: 0;
  }
  .header-wrapper #navbar {
    justify-self: center;
    margin: 0;
    padding-bottom: 0.625rem;
  }
  #navbar ul:first-child {
    padding-left: 0;
  }
  #letter {
    width: 100%;
    text-align: center;
  }
  #makeleft {
    padding-left: 0;
  }
}
